@import "./variables";





a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
    text-decoration: inherit;
}

a:visited {
      color: inherit;
    text-decoration: inherit;
}